<header>
  <div class="logo-container">
    <i class="fas fa-grin-squint meme-icon"></i>
    <a href="index.html" class="logo">MEMEBA</a>
  </div>
  <div class="search-container">
    <input
      type="text"
      id="search-bar"
      placeholder="Busca Elden Ring, Mario, Zelda..."
      autocomplete="off"
    />
    <button><i class="fas fa-search"></i></button>
  </div>
  <div class="header-actions">
    <a href="favorites.html" class="action-group" style="text-decoration: none">
      <i class="fas fa-heart"></i>
      <span>FAVORITOS</span>
    </a>
    <a href="cart.html" class="action-group" style="text-decoration: none">
      <i class="fas fa-shopping-cart">
        <span class="cart-count" id="cart-count">0</span>
      </i>
      <span>CARRITO</span>
    </a>
    <a
      href="login.html"
      class="action-group"
      id="account-btn"
      style="text-decoration: none"
    >
      <i class="fas fa-user-circle"></i>
      <span>CUENTA</span>
    </a>
  </div>

</header>




